body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f2f5;
}

h1 {
    text-align: center;
    color: #333;
}

#chula-list div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
